{
  "root": true,
  "rules": {
    "import/extensions": 0,
    "no-use-before-define": 0
  },
  "extends": [
    "@t3n/eslint-config",
    "@t3n/eslint-config-react",
    "@t3n/eslint-config-typescript"
  ]
}
